
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Supermarket";
  src:  url("/assets/fonts/Supermarket.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* Apply globally */
/* body {
  @apply font-supermarket;
} */